.container {
  background-color: #faf5e6c4;
  border-radius: 20px;
  margin: 0 50px;
  position: fixed;
  bottom: 9px;
  width: -webkit-fill-available;
}

.icon {
  margin: 10px 0;
}

.text {
  font-size: 12px;
  line-height: 0;
  margin-top: 2px;
  font-weight: 600;
}
