.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.name {
  font-size: 12px;
  font-family: "Source Sans 3";
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noteContainer {
  display: flex;
  align-items: center;
}

.note {
  font-size: 10px;
  font-family: "Source Sans 3";
  color: #187ab5;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 4px;
  margin-top: 1;
}
