.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: -20px;
}

.text {
  font-size: 2rem;
  font-family: "SourceSans3Black";
  margin-top: 10px;
}
