.container {
  display: grid;
  border-bottom: 1px black dotted;
  align-items: center;
  height: 40px;
}

.container:last-child {
  border-bottom: 0px black dotted;
}

.name {
  font-family: "Source Sans 3 Black";
  font-size: 12px;
  text-align: start;
}

.quantity {
  font-family: "Source Sans 3 Black";
  font-size: 16px;
  text-align: center;
}

.price {
  font-family: "Source Sans 3 Black";
  font-size: 16px;
  text-align: end;
}
