html,
body,
label {
  font-family: "MyriadProRegular", sans-serif;
}

body {
  height: 100dvh;
  overflow: hidden;
  background-image: url("/images/bg.svg");
  background-repeat: repeat-y;
  background-size: cover;
  touch-action: manipulation; // https://stackoverflow.com/a/53236027
}
