html,
body,
label {
  background-image: url("/images/bg.svg");
  background-repeat: repeat-y;
  font-family: "MyriadPro", sans-serif;
  // font-family: "SourceSansPro";
  // font-family: "Courier New";
}
