@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadPro.OTF");
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3.ttf");
}

@font-face {
  font-family: "Source Sans 3 Black";
  src: url("/fonts/SourceSans3Black.ttf");
}
