.container {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  border-bottom: 1px black dotted;
  padding: 15px 0;
}

.name {
  font-family: "SourceSans3Black";
  font-size: 1.7rem;
}

.quantity {
  font-family: "SourceSans3Black";
  font-size: 1.7rem;
  text-align: center;
}

.price {
  font-family: "SourceSans3Black";
  font-size: 1.7rem;
  text-align: end;
}
