.container {
  padding: 10px 40px;
  background-color: #fcfbf7;
}

.itemContainer {
  max-height: 650px;
  overflow-y: auto;
}

.button {
  width: 80%;
  height: 90px;
  border-radius: 100px;
  margin: 0 100px;
  background-color: #92c83e;
  margin-bottom: 20px;
}

.buttonText {
  font-family: "MyriadProBold";
  font-size: 3rem;
  color: white;
  margin-top: 10px;
}
