.container {
  padding: 20px;
  background-color: #fcfbf7;
}

.closeButton {
  margin-left: auto;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  font-weight: 600;
  font-size: 1.5rem;
  flex-wrap: wrap;
  white-space: pre-line;
}
