.container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.detail {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
  width: 100%;
}

.priceContainer {
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.smallImage {
  position: absolute;
  width: 10%;
  right: 15%;
  bottom: 80px;
  height: 10vw;
  display: none;
}

.sendToCart {
  display: block;
  z-index: 600;
  border-radius: 200px;
  border: 2px solid white;
  animation: moveDown 0.8s;
}

@keyframes moveDown {
  0% {
    width: 10%;
    height: 10vw;
    opacity: 1;
  }
  100% {
    width: 5%;
    height: 5vw;
    opacity: 0.8;
    display: none;
    transform: translateY(43px) translateX(-26vw);
  }
}
