.container {
  flex-grow: 1;
  overflow: hidden;
}

.detail {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 3rem;
  line-height: 20px;
  text-shadow: 6px 5px 12px #000;
}

.price {
  font-family: "SourceSans3Black";
  line-height: 110px;
  text-shadow: 6px 5px 12px #000;
}

.total {
  font-family: "SourceSans3Black";
  color: white;
  font-size: 5rem;
  font-weight: 700;
  /* text-shadow: 4px 4px 8px #000; */
}
