.container {
  flex-grow: 1;
  overflow: hidden;
}

.detail {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 3rem;
  line-height: 20px;
  text-shadow: 6px 5px 12px #000;
}

.price {
  font-family: "SourceSans3Black";
  line-height: 110px;
  text-shadow: 6px 5px 12px #000;
}
