.container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.detail {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
  width: 100%;
}

.priceContainer {
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.smallImage {
  position: absolute;
  width: 20%;
  left: 40%;
  bottom: 200px;
  display: none;
  opacity: 50;
}

.sendToCart {
  display: block;
  z-index: 600;
  animation: moveDown 1s;
}

@keyframes moveDown {
  0% {
    width: 20%;
    opacity: 1;
  }
  80% {
    width: 5%;
    opacity: 0.5;
  }
  100% {
    width: 5%;
    opacity: 0;
    display: none;
    transform: translateY(160px) translateX(14.5vw);
  }
}
