.container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 15px;
  margin-top: -10px;
  z-index: 200;
}

.item {
  margin-right: 5px;
}

.item:last-child {
  margin-right: 0;
}
