.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
}

.noteContainer {
  display: flex;
  align-items: center;
}

.note {
  font-size: 1.5rem;
  color: #187ab5;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 10px;
}
