.container {
  display: grid;
  border-bottom: 1px black dotted;
  padding: 4px 0;
  margin-top: 10px;
}

.name {
  font-family: "Source Sans 3 Black";
  font-size: 12px;
  text-align: start;
}

.quantity {
  font-family: "Source Sans 3 Black";
  font-size: 12px;
  text-align: center;
}

.price {
  font-family: "Source Sans 3 Black";
  font-size: 12px;
  text-align: end;
}
