.container {
  padding: 10px 40px;
  background-color: #fcfbf7;
}

.itemContainer {
  max-height: 260px;
  overflow-y: auto;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 80%;
  height: 44px;
  border-radius: 100px;
  background-color: #92c83e;
}

.buttonText {
  font-family: "Source Sans 3 Black";
  font-size: 20px;
  color: white;
}

.columnRatio {
  grid-template-columns: 5fr 2fr 3fr;
}
